In [37]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
raw = pd.read_csv("D:/DATA_ANALYST/Retail_Sales_Performance_Report/raw_data.csv")
raw

      order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |
0     +----------+-----------------+----------------...
1     |        3 | Order Finished  | Muhammed MacInt...
2     |      293 | Order Finished  | Barry French   ...
3     |      483 | Order Finished  | Clay Rozendal  ...
4     |      515 | Order Finished  | Carlos Soltero ...
...                                                 ...
5496  |    52706 | Order Finished  | Paul Prost     ...
5497  |    54279 | Order Finished  | Lisa DeCherney ...
5498  |    55558 | Order Finished  | Philip Brown   ...
5499  |    56581 | Order Finished  | Lisa DeCherney ...
5500  +----------+-----------------+----------------...

[5501 rows x 1 columns]

In [39]:
raw.columns

Index([' order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |'], dtype='object')

In [40]:
raw[' order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |']

0       +----------+-----------------+----------------...
1       |        3 | Order Finished  | Muhammed MacInt...
2       |      293 | Order Finished  | Barry French   ...
3       |      483 | Order Finished  | Clay Rozendal  ...
4       |      515 | Order Finished  | Carlos Soltero ...
                              ...
5496    |    52706 | Order Finished  | Paul Prost     ...
5497    |    54279 | Order Finished  | Lisa DeCherney ...
5498    |    55558 | Order Finished  | Philip Brown   ...
5499    |    56581 | Order Finished  | Lisa DeCherney ...
5500    +----------+-----------------+----------------...
Name:  order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |, Length: 5501, dtype: object

In [41]:
df=pd.DataFrame()
df['Order_id']=raw[' order_id | order_status    | customer               | order_date | order_quantity | sales     | discount | discount_value | product_category | product_sub_category           |']
df.head()

                                            Order_id
0  +----------+-----------------+----------------...
1  |        3 | Order Finished  | Muhammed MacInt...
2  |      293 | Order Finished  | Barry French   ...
3  |      483 | Order Finished  | Clay Rozendal  ...
4  |      515 | Order Finished  | Carlos Soltero ...

In [42]:
print(df['Order_id'][2:3])

2    |      293 | Order Finished  | Barry French   ...
Name: Order_id, dtype: object

In [43]:
df.drop(0, axis=0, inplace=True)

In [44]:
df['Order_id'].str.split('|',1).head()

1    [,         3 | Order Finished  | Muhammed MacI...
2    [,       293 | Order Finished  | Barry French ...
3    [,       483 | Order Finished  | Clay Rozendal...
4    [,       515 | Order Finished  | Carlos Solter...
5    [,       613 | Order Finished  | Carl Jackson ...
Name: Order_id, dtype: object

In [45]:
df= df['Order_id'].str.split('|',11,expand=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
1,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization,
2,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances,
3,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication,
4,,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances,
5,,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories,

In [46]:
df.columns

RangeIndex(start=0, stop=12, step=1)

In [47]:
### Seperate the index
index= raw.columns.str.split('|',11,expand=True)
k= index.tolist()
print(k,'\n')
# remove trailing white spaces
'''k2 = k.strip()
print(k2)'''; 
### I tried to clean this list only so that I could rename the columns of dataframe directly through this 
### But I failed thus copied the elements manually and substitute it in df

[(' order_id ', ' order_status    ', ' customer               ', ' order_date ', ' order_quantity ', ' sales     ', ' discount ', ' discount_value ', ' product_category ', ' product_sub_category           ', '')]

In [48]:
### Droping all blank columns
df.drop({0,11}, axis=1, inplace=True)

In [49]:
l=['order_id ', 'order_status', ' customer', ' order_date ', ' order_quantity ', ' sales', ' discount ', ' discount_value ', ' product_category ', ' product_sub_category']
### upgrading column name through list [JUST MAKE SURE no of columns = elements in list]
df.columns= l

In [50]:
df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
1,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
2,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
3,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
4,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
5,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5496,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5497,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5498,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5499,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings
5500,None,None,None,None,None,None,None,None,None,None

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 1 to 5500
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               5499 non-null   object
 1   order_status           5499 non-null   object
 2    customer              5499 non-null   object
 3    order_date            5499 non-null   object
 4    order_quantity        5499 non-null   object
 5    sales                 5499 non-null   object
 6    discount              5499 non-null   object
 7    discount_value        5499 non-null   object
 8    product_category      5499 non-null   object
 9    product_sub_category  5499 non-null   object
dtypes: object(10)
memory usage: 429.8+ KB

In [52]:
df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
1,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
2,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
3,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
4,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
5,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5496,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5497,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5498,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5499,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings
5500,None,None,None,None,None,None,None,None,None,None

In [53]:
df2 = df.dropna()
df2

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
1,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
2,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
3,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
4,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
5,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5495,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5496,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5497,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5498,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5499,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings